body {
    font-family: "Plus Jakarta Sans", serif !important;
    /* font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal; */

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

.navbar {
    height: 5rem;
    background-color: #fff;
}

.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;

}

/* ============================================================================== */
/* Footer Section */
.f-info {
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
    text-align: center;
}

.f-info-brand,
.f-info-links,
.f-info-socials {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info-socials i {
    font-size: 1.2rem;
    margin-right: 1rem;
    /* margin-top: 5px; */
}

/* ============================================================================== */
/* Card Section */
.listing-card {
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;

}

.card-body {
    padding: 0 !important;
}

.card-text p {
    font-weight: 400;
}

.listing-link {
    text-decoration: none;
}

/* Card Effect */
.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.4;
    background-color: #fff;
    /* color: #222222; */
    color: #fe424d;
}

/* New Listing Add Page */
.add-btn {
    background-color: #fe424d !important;
    border: none !important;
}

/* Edit Listing Page */
.edit-section {
    display: flex;
    justify-content: space-around;

}

.edit-btn {
    width: 365px;
    background-color: #fe424d !important;
    border: none !important;
    margin-right: 10px;
    margin-top: 5px;
    margin-left: 3px;
}

.back-btn {
    width: 365px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #fe424d !important;
    border: none !important;
    text-decoration: none;
}

.back-btn a {
    text-decoration: none !important;
    color: #fff;
}

/* Show Listing Page */
.show-img {
    height: 35vh;
    width: 200px;
}

.func-btn {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    /* width: 760px;
    height: 65px; */
    margin-bottom: 20px;
    /* border: 2px solid black; */

}

.edit-btn1 {
    width: 222px;
    height: 50px;
    background-color: #fe424d !important;
    border: none !important;
    margin-left: 1px;
    margin-top: 5px;
    border-radius: 5px;
}

.edit-btn1 a {
    text-decoration: none;
    color: #fff;
}

form {
    border-radius: 5px;

}

.delete-btn {
    width: 222px;
    background-color: #fe424d !important;
    border: none !important;
    height: 50px;
    margin-left: 183px;
    margin-top: 5px;

}

.back-btn1 {
    width: 222px;
    background-color: #fe424d !important;
    border: none !important;
    height: 50px;
    margin-left: 366px;
    margin-top: 5px;
}

.back-btn1 a {
    text-decoration: none !important;
    color: #fff;
}


/* ================================ MAP SECTION============================================== */

#map{
    height: 300px;
    width: 115vh;
    border: 2px solid black;
}
/* ============================================================================== */


/* ============================================================================== */


/* ============================================================================== */











/* ================================== Edit Practice section ============================================ */
/* 
.edit-btn1 {
    width: 222px;
    height: 50px;
    background-color: #fe424d !important;
    border: none !important;
    margin-left: 1px;
    margin-top: 5px;
    border-radius: 5px;
}

.edit-btn1 a {
    text-decoration: none ;
    color: #fff;
}  

form  {
    border-radius: 5px;
    
}
.delete-btn {
    width: 222px;
    background-color: #fe424d !important;
    border: none !important;
    height: 50px;
    margin-left: 183px;
    margin-top: 5px;

}

.back-btn1 {
    width: 222px;
    background-color: #fe424d !important;
    border: none !important;
    height: 50px;
    margin-left: 366px;
    margin-top: 5px;
}

.back-btn1 a {
    text-decoration: none !important;
    color: #fff;
}   */